# Dependencies
node_modules

# Build output
dist
dist-ssr

# Local env files
*.local

# Editor & OS
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
.claude/

# Firebase
.firebase/
firebase-debug.log*

# Logs
logs
*.log
npm-debug.log*
